.txt-abbaster{
  font-family: 'Spartan', sans-serif;
}

.bg-abbaster{
  background-color: #ccc;
  /*background-color: #0a608a;
  */
  font-family: 'Muli', sans-serif;
  color:#fff;
  /*
  font-family: 'Orbitron', sans-serif;
  font-family: 'Teko', sans-serif;
  */
}


.navbar{
  padding: 0;
}

.navbar-brand{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: 0;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2rem auto;
  }

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.0rem !important;
    padding-left: 1.0rem !important;
}

.navbar-dark .navbar-nav .nav-link{
  color:#fff;
}

.bg-azul-x{
  background-color: #d8dfe6 !important;
}

.bg-azul-y{
  background-color: #b1c0cd !important;
}

.bg-azul-z{
  background-color: #3f6886 !important;
}



.footer-abbaster{
  background-color: #084d6e !important;
  font-family: 'Muli', sans-serif;
  color:#fff;
}

.link-login-abbaster{
  color:#fff !important;
}


.btn-abbaster {
  background-color: #084d6e;
  color: white;
}

.btn-abbaster:hover {
  background-color: #0a608a;
  color: white;
}

.testimonios{
  background-color: #d8dfe6;
  border:none;
}


img.logo-txt-center{
  vertical-align: middle;
  /* Ojo vertical-align: text-middle no existe*/
}


#header img {
  width: 80px;
}

#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
  /*filter: grayscale(70%);*/
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /*background-color: rgba(0, 0, 0, 0.5);*/s
 /* color: white;*/
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#place-time {
  background-color: #343a40;
  color: white;
}

#place-time img {
  max-width: 100%;
}

/*#footer {
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}*/

#footer a {
  color: white;
}

#marcas{
  background-color: #000;
}

#marcas h2{
  color: #fff;
}

html, body {
                background-color: #fff;
                color: #636b6f;
                /*font-family: 'Nunito', sans-serif;*/
                font-family: 'Spartan', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }